body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: bisque;
  }

  .header {
   margin-left: 20%;
   font-size: 80px;
   font-family: cursive;
  }

  
  ol, ul {
    padding-left: 30px;
  }
  
  li {
    margin: 2px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 80px;
    height: 80px;
    margin:2px;
    padding: 0;
    text-align: center;
    width: 80px;
    border-radius: 30%;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }
  
  .game-info {
    margin-left: 80px;
    
  }

  .steps{
    background:rgb(184, 181, 181);
    border: 3px black;
    float: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    height: 30px;
    margin:2px;
    padding: 0;
    text-align: center;
    width: 200px;
    border-radius: 2%;
  }

  .steps:focus {
   background-color: rgb(29, 28, 28);
   color: #fff;
   outline-color: black;
  }

  #root {
    margin-top: 50px;
    margin-left: 30%;
  }

  